{% extends "base.twig" %}

{% block head %} 
    <title>Admin commentaires {{ blog.id }}</title>
		<link rel="stylesheet" href="css/commentaires.css">
{% endblock %}

{% block content %}

<h1>Liste des commentaires non validés</h1>

{{ messageServeur |raw }}

{% for commentaire in commentairesEnAttenteDeValidation %}
<div id="conteneurCommentaire"> 
    <p>commentaire de <span>{{ commentaire.getAuteur }}</span> pour le blog n°<span>{{ commentaire.getBlog_id }}</span></p>
    <p id="commentaireMessage">{{commentaire.getMessage}}<p>
    <form action="" method="post">
        <input type="hidden" name="idCommentaire" value="{{ commentaire.getId }}" >
        <div id="conteneurSubmit">
            <input type="submit" name="valider" value="Valider" id="valider_submit">
            <input type="submit" name="supprimer" value="Supprimer" id="supprimer_submit">
        </div>
    </form>
</div> 
{% else %}
<p id="boucleNul">Les utilisateurs n'ont laissés aucun nouveau commentaire.</p>
{% endfor %}
{% endblock %}