{% extends "base.twig" %}

{% block head %} 
    <title>Admin utilisateurs</title>
		<link rel="stylesheet" href="css/utilisateurs.css">
{% endblock %}

{% block content %}
<h1>Liste des utilisateurs inscrits</h1>
    
{{ messageServeur |raw }}

{% for utilisateur in listeUtilisateursInscrits %}
<div id="conteneurCommentaire">  
    <p>{{ utilisateur.nom |upper }} {{ utilisateur.getPrenom |capitalize}}</p>
    <p>{{ utilisateur.getEmail }}</p>
    <form action="" method="post">
        <input type="hidden" name="id" value="{{ utilisateur.getId }}" >
        <div id="conteneurSubmit">
            <input type="submit" name="confirmer" value="Confirmer" id="confirmer_submit">
            <input type="submit" name="supprimer" value="Supprimer" id="supprimer_submit">
        </div>
    </form>
</div>
{% else %}
<p id="boucleNul">Aucun utilisateur inscrit !</p>
{% endfor %}
{% endblock %}