{% extends "base.twig" %}

{% block head %} 
    <title>Admin utilisateurs</title>
		<link rel="stylesheet" href="public/css/visiteurs.css">
{% endblock %}

{% block content %}

	

    <h1>Liste des utilisateurs inscrits</h1>
    
    {{ messageServeur |raw }}

    {% for visiteur in listeVisiteursInscrits %}
        <div id="conteneurCommentaire">  
            <p>{{ visiteur.nom |upper }} {{ visiteur.prenom |capitalize}}</p>
            <p>{{ visiteur.email }}</p>

             <form action="" method="post">
                <input type="hidden" name="id" value="{{ visiteur.id }}" >
                <input type="hidden" name="nom" value="{{ visiteur.nom |upper }}" >
                <input type="hidden" name="prenom" value="{{ visiteur.prenom |capitalize }}" >
                <input type="hidden" name="email" value="{{ visiteur.email }}" >
                <input type="hidden" name="motDePasse" value="{{ visiteur.motDePasse }}" >
                <div id="conteneurSubmit">
                    <input type="submit" name="confirmer" value="Confirmer" id="confirmer_submit">
                    <input type="submit" name="supprimer" value="Supprimer" id="supprimer_submit">
                </div>
            </form>
        </div>
    {% else %}
        <p id="boucleNul">Aucun utilisateur inscrit !</p>
    {% endfor %}
 
{% endblock %}