{% extends "base.twig" %}

{% block head %} 
        <title>Jessy BROS | Blog développeur web</title>
		 <link rel="stylesheet" href="css/accueil.css">
{% endblock %}

{% block content %}
<section id="presentation">

	<h1>DÉVELOPPEUR WEB</h1>
	
	<p id="phraseAccroche">Un développeur qui transcende les limites !</p>
	
	<div id="blogPresentation">
		
		<div class="text">
			<div>
				<h2>Blog de Jessy BROS</h2>
				<img id="photoJessy" src="images/jessy_Bros.jpg" alt="Photo de jessy | Blog développeur web">
				<p>Bienvenue sur mon petit blog ! :D<br>
				Je suis un jeune developpeur web spécialisé en back-end.<br>
				À travers ce site, vous allez pouvoir suivre toutes mes aventures ! <br>
				 Mes projets réalisés sont hébergés dans les quatre coins du monde entier !</p>
			</div>
			<div>
				<h3>Formation chez Openclassrooms</h3>
				<div id="openclassrooms">
					<img id="photoOpenclassrooms" src="images/openclassrooms.png" alt="logo openclassrooms">
					<p><em>Développeur d'application - PHP / Symfony</em></p>
				<div>
			</div>
		</div>
	</div>				
</section>

<section id="conteneurBlogs">
	<h2>Les derniers blogs</h2>
	<div id="blogs">
	 {% for blog in lesDerniersBlogs %}
        <a href= "blog-{{ blog.getId }}">
			<article>
				<p><strong>{{ blog.getTitre}} </strong></p>
				<img class="blogImage" src="images/blogs/{{ blog.getImage}}" alt="{{blog.getTitre}}"/>
			</article>
		</a>
    {% endfor %}
	</div>
</section>

<section id="curriculumVitae">
	<h2>curriculum Vitae</h2>
	<p> Vous désirez en savoir plus sur moi ? N'hésitez pas à visiter mon curriculumVitae et mes réseaux sociaux ! :D</p>
	<button><a href="public/images/cv/Bros-Jessy.pdf" target="_blank">Accéder à mon curriculumVitae</a></button>
	<ul>
   		<li>
        	<a href="https://github.com/SiProdZz" target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </li>
        <li>
			<a href="https://www.facebook.com/jessy.bros.1" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>
    </ul>
</section>

<section id="contactForm">
	<h2>Contactez-moi</h2>

	<form action="#contactForm" method="post">
		<label for="nom">Nom/Prénom</label>
		<input type="text" name="nom" placeholder="Votre Nom" id="nom"><br>

		<label for="email">Email</label>
		<input type="email" name="email" placeholder="adresse@domaine.com" id="email"><br>

		<label for="message">Message</label>
		<textarea name="message" rows="4" cols="50" placeholder="Votre message..."></textarea><br>

		<input type="submit" name="submit" id="submit" value"Envoyer"><br>

		{{ messageServeur |raw }}
	</form>
</section>
{% endblock %}