{% extends "base.twig" %}


{% block head %} 
        <title>{{blog.getTitre}} | Blog développeur web</title>
		 <link rel="stylesheet" href="/css/blog.css">
{% endblock %}

{% block content %}
<section id="conteneurBlog">
    <h1>{{ blog.getTitre }}</h1>
    <p id="chapo"> {{ blog.getChapo }}</p>
    <article>
        <img id="image" src="images/blogs/{{ blog.getImage }}" />
        <p id="contenu"> {{ blog.getContenu | raw }}</p>
        <p id="auteur"> Blog n° {{ blog.id }} écrit par {{ blog.getAuteur }}, 
        {% if  blog.getDateMiseAJour %}
            <span id="date">modifié le {{blog.getDateMiseAJour |  date("d-m-Y")}}</span>
        {% else %}
            <span id="date">crée le {{ blog.getDate | date("d-m-Y") }}</span>
        {% endif %}
        </p>
    </article>
    <nav id="navigationBlogs">
        {% if  blog.id > 1 %}
        <a href= "blog-{{ previous }}">
        <div>
            {{previous}}
            <i class="fas fa-arrow-left"></i>
            <span> Blog précédent</span>
        </div>
        </a>
        {% endif %}

        {% if blog.getId < numeroDernierBlog.id  %}
        <a href= "blog-{{ next }}">
        <div>
            <span>Blog Suivant </span>
            <i class="fas fa-arrow-right"></i>
            {{next}}
        </div>
        </a>
        {% endif %}
    </nav>
</section>

<section id="ConteneurFormAjoutCommentaire">
<h2>Ajouter un commentaire à ce blog</h2>
    <form action="#ConteneurFormAjoutCommentaire" method="post">
        <label for="auteur">Auteur</label>
        <input type="text" name="auteur" placeholder="Votre nom d'auteur" id="auteur"><br>

        <label for="message">Message</label>
        <textarea id="message"name="message" rows="4" cols="50" placeholder="Votre message..."></textarea><br>

        <input type="submit" name="submit" id="submit" value"Envoyer"><br>

        {{ messageServeur |raw }}
    </form>
</section>

<section id="conteneurCommentaires">
 <h2> Liste des commentaires</h2>
   {% for commentaire in commentairesValider %}
		<article> 
            <p><span id="auteurCommentaire">{{ commentaire.getAuteur }} : </span> {{ commentaire.getMessage }}</p>
            <span id="dateCommentaire">{{ commentaire.getDate |date("d/m/Y H:m") }}</p>
        </article>
    {% else %}
        <p id="boucleNul">Soyez le premier à mettre un commentaire !</p>
    {% endfor %}
</section>
{% endblock %}