{% extends "base.twig" %}

{% block content %}


<h1>Mon Blog </h1>


<p> {{ blog.id }}</p>
<p> {{ blog.titre }}</p>
<p> {{ blog.chapo }}</p>
<p> {{ blog.contenu | raw }}</p>
<p> {{ blog.date }}</p>
<img src="public/images/blogs/{{ blog.image }}" />
<p> {{ blog.dateMiseAJour }}</p>


{% endblock %}